*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ECRAN DE CHARGEMENT */

.charg-screen{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #FFD1D1;
    transition: 100ms;
}

span{
    position: fixed;
    font-size: 110px;
    z-index: 45;
    text-align: center;
    color: #FF9494;
    text-shadow: 5px 5px 5px black;
    margin-top: -150px;
    visibility: visible;
}

button{
    display: flex;
    justify-content: center;
    align-items: center ;
    position: fixed;
    background-color: #FF9494;
    border: none;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 300px;
}

#play{
    height: 100px;
    margin-left: 20px;
}

/* JEU */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #FFF5E4;
}

.container img{
    height: 180px;
    border-radius: 40px;
    padding: 20px 40px;
    transition: 100ms;
}

.stand{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-items: center;
    flex-direction: row;
    height: 90%;
    width: 90%;
}

.gauche, .centre, .droite{
    display: flex;
    flex-direction: column;
    gap: 210px;
}

#ist:hover, #fete:hover, #couple:hover, #nurse:hover, #personne:hover{
    box-shadow: 8px 8px 8px grey;
    background-color: #FFE3E1;
    scale: 1.1;
}
