*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.image-fond{
    height: 100%;
    width: 100%;
    background-color: #FFF5E4;
    position: fixed;
    z-index: 1;
    filter: blur(3px);  
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 90%;
    z-index: 2;
    margin-bottom: 100px;
}

.container img{
    height: 40px;
}


.settings, .mute, .team, .return{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD1D1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid black;
}

.settings:hover, .mute:hover, .team:hover, .return:hover{
    scale: 1.1;
}

.droite, .gauche{
    display: flex;
    gap: 50px;
    flex-direction: column;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

button{
    height: 150px;
    width: 300px;
    color: #000000;
    background-color: #FFD1D1;
    border: 3px solid black;
    border-radius: 100px;
    font-size: 50px;
    font-weight: bold;
    transition: 500ms;
    z-index: 4;
}

button:hover{
    box-shadow: 0px 0px 40px black;
    border: none;
}

#perso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20%;
    margin-top: -150px;
    position: fixed;
    height: 300px;
    width: 1100px;
    z-index: 3;
    text-align: center;
    visibility: hidden;
}

.perso1, .perso2{
    height: 100%;
    width: 20%;
    border-radius: 20px;
    transition: 100ms;
}

.perso1{
    background-color: blue;
}

.perso2{
    background-color: purple;
}

.perso1:hover, .perso2:hover{
    scale: 1.1;
    box-shadow: 0px 0px 25px #FF9494;
}
